.homeMain {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    // height: 100vh;
    background-color: white;

    .header {
        height: 46px;
        box-shadow: 2px 5px 5px 0px rgba(102, 102, 102, 0.5);
        // background: aqua;
        flex-shrink: 0;

        .headerBar {
            display: flex;
            flex-direction: row;
            // align-items: stretch; //

            .menu {
                // flex: 1;
                // // padding-left: -100px;
                // // padding: 10px;s
            }

            .aviator {}
        }
    }

    .content {
        flex-grow: 2;
        // background: cornflowerblue;
        overflow-y: auto;
    }

    .footer {
        height: 100px;
        background: coral;
        flex-shrink: 0;
    }
}