.homeMain {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;

    .header {
        height: 46px;
        box-shadow: 2px 5px 5px 0px rgba(102, 102, 102, 0.5);
        flex-shrink: 0;

        .headerBar {
            position: relative;

            .menu {
                position: absolute;
                width: 100%;
            }

            .aviator {
                position: absolute;
                right: 10px;
                margin: 10px;
            }
        }
    }

    .content {
        flex-grow: 2;
        overflow-y: auto;
    }

    .footer {
        height: 100px;
        background: coral;
        flex-shrink: 0;
    }
}